header nav{display:inline-block}
.user{position:absolute;top:0;right:0}
.msg{padding:10px;border-radius:10px;border:solid 1px currentColor;margin-bottom:20px;color:#00c}
.ok{color:#090}
.error{color:#900}

form ul{margin:0;padding:0;list-style:none}
form li{padding:2px;border-bottom:solid 1px #b6b6b6}
label,.label,.checks .label{float:left;width:150px;color:#727272;padding:0}
input,button{font-family:inherit;font-size:inherit}
article > .act{margin-bottom:20px}
form .act{text-align:center}
article form ul{margin-bottom:20px}
form a{margin-right:20px}
.act button,article > .act a{padding:10px 16px;border:0;background:#f0f0f0;color:inherit;text-decoration:none}
article input,article textarea{width:800px;font-family:inherit;font-size:inherit}
.richtext{border:0;padding-top:10px}
.richtext label{float:none;font-weight:bold;color:#727272}
.richtext textarea{width:100%;height:400px;font-family:monospace}

.checks label{float:none;width:auto;display:inline;padding-right:20px;color:#212121}
.checks input{width:auto}

.ovl{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.5);display:flex;align-items:center;justify-content:center;z-index:3}
.ovl form{background:#fff;border-radius:10px;box-shadow:0 3px 5px rgba(0,0,0,.5);width:480px}
.ovl form > *{padding:10px}
.ovl h2{background:#607d8b;color:#fff}
.ovl input{width:300px}
